* {
   box-sizing: border-box;
}

html {
	font-size: 62.5%; /*16px (so 1 rem = 10px)*/
}

body {
	margin: 0;
}

a {
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
}

li {
	padding: 20px;
	list-style-type: none;
	font-size: 1.8rem;
}

.diagonal-box-one {
	background-image: linear-gradient(45deg, #ed4264, #ffedbc); /*dark pink into yellow*/	
	transform: skewY(-11deg);
	padding: 100px;
}

.content {
	max-width: 100em;
	margin: 0 auto;
	transform: skewY(11deg);
}

.home-arrow {
	height: 55px;
	position: fixed;
	right: 50px;
	top: 90%;
}

/* NAV STYLING */

nav {
	margin: 50px 150px 10px;
	background-color: transparent;
	display: flex;
	justify-content: flex-end;
}

nav a {
	text-decoration: none;
}

nav a, footer a:link    {color:#ed4264;} /*dark pink*/
nav a, footer a:visited {color:#ed4264;} /*dark pink*/
nav a, footer a:hover   {color:#FFFFFF;}
nav a, footer a:active  {color:#ed4264;} /*dark pink*/

/* HEADER STYLING */

header {
	margin: 120px 100px;
	background-color: transparent;
	color: #FFFFFF;
	width: 900px;
}

header h1 {
	font-family: 'Londrina Solid', serif;
	font-weight: 500;
	font-size: 6rem;
}

header h1 span {
	font-family: 'Londrina Outline';
}

header h1 span:hover {
	font-family: 'Londrina Solid', serif;
}

header h2, h3 {
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
}

header h2 {
	font-size: 2rem;
}

header h3 {
	font-size: 1.8rem;
}

header a:link, a:visited, a:active {
	text-decoration: none;
	color: #ed4264; /*dark pink*/
}

header a:hover {
	text-decoration: underline;
}

header img {
	height: 32px;
	width: 32px;
	margin: 10px;
}

.social-icons {
	display: flex;
	justify-content: flex-start;
	width: 250px;
	padding: 20px;
}


/*MAIN STYLING*/

#about h1, #projects h1 {
	font-family: 'Montserrat', sans-serif;
	color: #ed4264; /*dark pink*/
	font-size: 3rem;
}

#about h2, #projects h2 {
	font-family: 'Montserrat', sans-serif;
	color: #ed4264; /*dark pink*/
	font-weight: 500;
	font-size: 2rem;
}

#about h3, #projects h3 {
	font-family: 'Montserrat', sans-serif;
	color: #000000;
	font-weight: 500;
	font-size: 1.5rem;
}


/* ABOUT SECTION STYLING */

#about {
	margin: 100px 150px 70px;
	display: flex;
	justify-content: space-between;
}

.headshot {
	border-radius: 50%;
	height: 350px;
	width: 330px;
}

.bio-content p {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	width: 700px;
}

/*PROJECTS STYLING*/

#projects {
	width: 100%;
}

#projects h1 {
	margin: 0px 0px 0px 100px;
}

#projects h2 span {
	font-family: 'Londrina Outline';
}

.projects-container {
	margin: 50px 150px 100px;
	display: flex;
}

.projects-container article {
	width: 25%;
	flex-flow: row wrap;
}

.projects-container img {
	height: 150px;
	width: 250px;
}

.projects-container a {
	color: #ed4264; /*dark pink*/
	font-size: 1.5rem;
	padding: 10px 10px 10px 0;
	display: inline;
}

.links {
	padding: 10px 10px 10px 0;
}

/*FOOTER STYLING*/

footer {
	background-color: #ffedbc;
	height: 120px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*RESPONSIVE STYLYING*/

@media only screen and (max-width: 600px) {
	
	.projects-container article {
		width: 100%;
	}
	
	nav {
		width: 100%;
		background-color: transparent;
		display: inline;
	}
	
	nav li {
		font-family: 'Montserrat', sans-serif;
		list-style-type: none;
		font-size: 1rem;
		padding: 5px;
	}
	
	.home-arrow {
		visibility: hidden;
	}
	
	header {
		margin: 0px
	}
	
	header h1 {
		font-size: 3rem;
	}
	
	header h2 {
		font-size: 1.4rem;
	}
	
	#about {
		margin: 70px 100px 100px;
		display: block;
	}
	
	.bio-content h2 {
		font-family: 'Montserrat', serif;
		color: #ed4264; /*dark pink*/
		font-size: 2rem;
	}

	.bio-content p {
		font-family: 'Montserrat', sans-serif;
		font-size: 1.5rem;
		width: 300px;
	}
	
	footer {}
}
