* {
   box-sizing: border-box;
}

html {
	font-size: 62.5%; /*16px (so 1 rem = 10px)*/
}

body {
	margin: 0;
}

.diagonal-box-one {
	background-image: linear-gradient(45deg, #ed4264, #ffedbc); /*dark pink into yellow
	/*background-image: linear-gradient( 105.3deg,  rgba(30,39,107,1) 21.8%, rgba(77,118,221,1) 100.2% );*/
	/*background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);*/
	/*background-image: linear-gradient(45deg, #ff758c, #ff7eb3);*/
/*	background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);*/
/*	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,229,168,1) 0%, rgba(251,174,222,1) 100.7% );*/
/*	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,101,133,1) 0%, rgba(255,211,165,1) 90% );*/
	transform: skewY(-11deg);
	padding: 100px;
}

.content {
	max-width: 100em;
	margin: 0 auto;
	transform: skewY(11deg);
}

.home-arrow {
	height: 55px;
	position: fixed;
	right: 50px;
	top: 90%;
}

/* NAV STYLING */

nav {
	margin: 50px 150px 10px;
	background-color: transparent;
	display: flex;
	justify-content: flex-end;
}

nav li {
	padding: 20px;
	font-family: 'Montserrat', sans-serif;
	list-style-type: none;
	font-size: 1.8rem;
}

nav a {
	text-decoration: none;
}

nav a:link    {color:#ed4264;} /*dark pink*/
nav a:visited {color:#ed4264;} /*dark pink*/
nav a:hover   {color:#FFFFFF;}
nav a:active  {color:#ed4264;} /*dark pink*/

/* HEADER STYLING */

header {
	margin: 120px 100px;
	background-color: transparent;
	color: #FFFFFF;
	width: 900px;
}

header h1 {
	font-family: 'Londrina Solid', serif;
	font-weight: 500;
	font-size: 6rem;
}

header h1 span {
	font-family: 'Londrina Outline';
}

header h1 span:hover {
	font-family: 'Londrina Solid', serif;
}

header h2, h3 {
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
}

header h2 {
	font-size: 2rem;
}

header h3 {
	font-size: 1.8rem;
}

header a:link, a:visited, a:active {
	text-decoration: none;
	color: #ed4264; /*dark pink*/
}

header a:hover {
	text-decoration: underline;
}

header img {
	height: 32px;
	width: 32px;
	margin: 10px;
}

.social-icons {
	display: flex;
	justify-content: flex-start;
	width: 250px;
	padding: 20px;
}

/* ABOUT SECTION STYLING */

#about {
	margin: 100px 150px 200px;
	display: flex;
	justify-content: flex-end;
}

.bio-content h2 {
	font-family: 'Montserrat', serif;
	color: #ed4264; /*dark pink*/
	font-size: 4rem;
}

.bio-content p {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	width: 700px;
}

/* PROJECT SECTION STYLING */


#projects {
	width: 100%;
}

#projects h1 {
	font-family: 'Montserrat', sans-serif;
	color: #ed4264; /*dark pink*/
	font-weight: 500;
	font-size: 3rem;
}


h2 {
	font-family: 'Montserrat', sans-serif;
	color: #000000;
	font-weight: 500;
	font-size: 2rem;
}

#projects h1 span {
	font-family: 'Londrina Outline';
}


.projects-container {
	margin: 50px 150px 100px;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

.projects-container div {
	width: 25%;
}

.projects-container img {
	height: 100px;
	width: 200px;
}
