* {
   box-sizing: border-box;
}

body {
   margin: 50px 150px 10px 150px;
}

nav {
	background-color: #FFFFFF;
	color: #000000;
	display: flex;
	justify-content: space-between;
}

.nav-left {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

.logo {
	height: 70px;
	width: 70px;
}

.nav-right {
	display: flex;
	list-style-type: none;
}

.nav-right li {
	padding: 20px;
}

.nav-right a:link, a:visited {
	text-decoration: none;
}

.nav-right a:hover, a:active {
	text-decoration: underline;
	background-color: pink;
}

header {
	margin-top: 120px;
}