* {
   box-sizing: border-box;
}

body {
	margin:0;
}

nav {
	margin: 50px 150px 10px 150px;
	background-color: #FFFFFF;
	display: flex;
	justify-content: space-between;
}

.nav-left {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

.logo {
	height: 70px;
	width: 70px;
}

.nav-right {
	display: flex;
	list-style-type: none;
}

.nav-right li {
	padding: 20px;
	font-family: 'Montserrat', sans-serif;
}

.nav-right a:link, a:visited {
	text-decoration: none;
	color: black;
}

.nav-right a:hover, a:active {
	text-decoration: underline;
	background-color: pink;
	color: #FFFFFF;
}

header {
	margin: 170px 150px 100px 150px;
	background-color: #FFFFFF;
}

header h1 {
	font-family: 'Lora', serif;
	font-weight: 500;
	font-style: italic;
	color: pink;
	font-size: 4rem;
}

header h2, h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: thin;
	color: black;
	font-size: ;
}

.contact p {
	font-family: 'Montserrat', sans-serif;
	font-weight: thin;
	color: black;
	font-size: ;
}

