* {
   box-sizing: border-box;
}

body {
   margin: 50px 150px 10px 150px;
   background-color: #0D1015;
}

nav {
	color: #000000;
	display: flex;
	justify-content: space-between;
}

.nav-left {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

.logo {
	height: 70px;
	width: 70px;
}

.nav-right {
	display: flex;
	list-style-type: none;
}

.nav-right li {
	padding: 20px;
	font-family: 'Montserrat', sans-serif;
}

.nav-right a:link, a:visited {
	text-decoration: none;
	color: #FFFFFF;
}

.nav-right a:hover, a:active {
	text-decoration: underline;
	background-color: pink;
	color: #FFFFFF;
}

header {
	margin-top: 120px;
}

header h1 {
	font-family: 'Lora', serif;
	font-weight: 500;
	font-style: italic;
	color: pink;
	font-size: 4rem;
}

header h2, h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: thin;
	color: white;
	font-size: ;
}
